[submodule "custom_plugins/ipynb"]
	path = custom_plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "pelican-themes"]
	path = themes
	url = http://github.com/getpelican/pelican-themes
[submodule "pelican-ipynb"]
	path = pelican-ipynb
	url = https://github.com/danielfrg/pelican-ipynb
